@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  margin: 0;
}

main {
  width: 50%
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.submit {
  margin-top: 100px;
  height:150px;
}

.table {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

td, th {
  padding: 5px 20px;
}

.btn-section {
  display: flex;
  justify-content: center;
align-items: center;
margin-top: 25px;
}

.hidden {
  display: none;
}

input {
  margin-right: 10px;
}